body {
    font-family: "Roboto Slab", Arial, Tahoma, sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar { 
    width: 0px;
}
::-webkit-scrollbar-thumb { 
    background: #FF0000;
}

/*********NAVBAR*********/

.facilities .navbar {
    background: #081e35;
    color: #334431;
    z-index: 10;
    border-color: transparent;
    padding: 15px;
}
.facilities .navbar .navbar-header .img {
    max-width: 181px;
    margin-top: -12px;
}
.facilities .navbar .navbar-nav {
    background-color: #081e35;
}
.facilities .navbar .navbar-nav li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
}
.facilities .navbar .navbar-nav li .dropdown-menu a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 14px;
}
.facilities .navbar .navbar-nav li a .fa {
    padding-left: 10px;
}
.facilities .navbar .navbar-nav li a:hover:not(.search a) {
    background-color: white;
    color: black;
}
.facilities .navbar .navbar-nav li a:focus:not(.search a) {
    background-color: white;
    color: black;
}
.facilities .navbar .navbar-nav .search a:hover {
    color: white;
}
.facilities .navbar .navbar-nav .search a .fa:focus {
    color: white;
}
.facilities .navbar .navbar-nav li .dropdown-menu {
    display: none;
    margin-right: -36px;
    background: #081e35;
    color:white;
    z-index:10;
    margin-left: 150px;
}
.facilities .navbar .navbar-nav li .dropdown-menu:hover {
    margin-right: -36px;
    background-color: black;
    color: white;
    z-index:10;
}
.facilities .navbar .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}
.facilities .navbar .navbar-header button .fa {
    color: white;
}
@media screen and (max-width: 766px) {
    .facilities .navbar {
    height: 76px;
  } 
}
@media screen and (max-width: 767px) {
    .facilities .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent !important;
        margin-top: 8px;
    }
}
.facilities .navbar .navbar-nav li input {
    display: none;
    border-color: transparent;
    background-color: #eeeeeea6;
    color: #d9edf7;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 7px;
    background-image: url('../img/11.png');
    background-position: 4px 3px;
    background-size: 16px;
    background-repeat: no-repeat;
    padding: 6px 12px 5px 40px;
    margin-top: 26px;
    outline: none;
}
.facilities .navbar .navbar-nav .close .fa {
    display: none;
    color: #eee;
    margin-top: 27px;
    padding-left: 6px;
}
.facilities .navbar .navbar-brand {
    font-size: 17px;
    color: #081e35;
    letter-spacing: 2px;
    background-color: white;
    border-radius: 51px;
    font-weight: bold;
}

/*********NAVBAR END*********/

/*********BANNER*********/

.facilities .banner {
	text-align: center;
    padding-top: 250px;
    padding-bottom: 220px;
    color: white;
    background-color: #072c4c9c;
}
.facilities .banner h2 {
	font-size: 56px;
    font-weight: bold;
    letter-spacing: 5px;
}
.facilities .banner h6 {
	font-size: 19px;
    letter-spacing: 1px;
    padding-top: 16px;	
}

/*BANNER END*/

/*SECTION 1 START*/

.facilities .back {
	background-color: #eee;
    padding: 4px;
    padding-bottom: 57px;
}
.facilities .back .mainss {
	text-align: center;
    font-size: 20px;
    margin-bottom: 33px;
    margin-top: 54px;
}
.facilities .back .mainss .heads {
	font-size: 33px;
    font-weight: bold;
    color: #000000bd;
    letter-spacing: 1px;
}
.facilities .back .mainss .top {
	font-weight: bold;
    color: #808080;
    letter-spacing: 1px;
}
.facilities .back .mainss .bottom {
	padding-top: 9px;
    font-size: 16px;
    font-weight: bold;
    color: #808080;
    letter-spacing: 1px;
}
.facilities .back .imu1 {
    background-image: url(../img/facility.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 268px;
    color: #b4b4b461;
    text-align: center;
    position: relative;
}
.facilities .back .imu2 {
	background-image: url(../img/facility1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 268px;
    color: #b4b4b461;
    text-align: center;
    position: relative;
}
.facilities .back .imu3 {
	background-image: url(../img/facility2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 268px;
    color: #b4b4b461;
    text-align: center;
    position: relative;
}
.facilities .back .imu4 {
	background-image: url(../img/facility3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 268px;
    color: #b4b4b461;
    text-align: center;
    position: relative;
}
.facilities .back .imu5 {
    background-image: url(../img/facility4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 268px;
    color: #b4b4b461;
    text-align: center;
    position: relative;
}
.facilities .back .imu6 {
	background-image: url(../img/facility5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 268px;
    color: #b4b4b461;
    text-align: center;
    position: relative;
}
.facilities .back .imu7 {
	background-image: url(../img/facility6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 268px;
    color: #b4b4b461;
    text-align: center;
    position: relative;
}
.facilities .back .imu8 {
	background-image: url(../img/facility7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 268px;
    color: #b4b4b461;
    text-align: center;
    position: relative;
}
.facilities .back .v h2 {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.facilities .back .v:hover {
	opacity: 0.77;
    color: #ffffff;
    transform : scale(1.2);
    opacity : 1;
    transition : 0.5s linear all;
}
.facilities .back .v {
	border-radius: 5px;
	margin-bottom: 32px;
	transform : scale(1);
    transition : 0.5s linear all;
    cursor: pointer;
}
.facilities .back .btn {
	font-size: 16.7px;
    margin-top: 4px;
    background-color: rgb(0 145 248 / 85%);
    color: #f5f5f5;
    font-weight: bold;
    outline: none;
    letter-spacing: 2px;
}

/*SECTION 1 END*/


/*********SECTION 4 START*********/

.facilities .section4 {
    padding: 60px;
    padding-left: 176px;
    padding-right: 0px;
    background-color: #3333339e;
    margin-bottom: 464px;
}
@media screen and (max-width: 1650px) {
    .facilities .section4 {
        margin-bottom: 0px;
    }
}

.facilities .section4 h3 img {
    width: 38px;
    float: left;
    padding-right: 9px;
}
.facilities .section4 h3 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 7px;
}
.facilities .section4 a {
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    margin-left: 6px;
    text-decoration: none;
}
.facilities .section4 a i {
    color: aquamarine;
    font-size: 16px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
}
.facilities .section4 p {
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    margin-left: 6px;
}
.facilities .section4 p i {
    color: aquamarine;
    font-size: 16px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 20px;
}
@media screen and (max-width: 513px) {
    .facilities .section4 {
        padding-left: 150px;
    }
}
/*********SECTION 4 END*********/

/*********FOOTER START*********/

.facilities .footer {
    background-color: #081e35;
    padding-right: 0;
    padding-top: 31px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -120;
    border-top: 5px solid #1075a6;
}
@media screen and (max-width: 1650px) {
    .facilities .footer {
     position: relative;
    }
}
.facilities .footer h3 {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 6px;
}
.facilities .footer .first-heading {
    padding-bottom: 7px;
    border-bottom: 2px solid #00a5c8;
    max-width: 160px;
}
.facilities .footer .second-heading {
    padding-bottom: 7px;
    border-bottom: 2px solid #00a5c8;
    max-width: 162px;
}
.facilities .footer .third-heading {
    padding-bottom: 7px;
    border-bottom: 2px solid #00a5c8;
    max-width: 179px;
}
.facilities .footer .fourth-heading {
    padding-bottom: 7px;
    border-bottom: 2px solid #00a5c8;
    max-width: 218px;
    margin-top: 16px;
}
.facilities .footer .fifth-heading {
    padding-bottom: 7px;
    border-bottom: 2px solid #00a5c8;
    max-width: 218px;
    margin-top: 10px;
}
.facilities .footer ul {
    padding-top: 8px;
}
.facilities .footer ul li a {
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    text-decoration: none;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.facilities .footer ul li a:hover {
    margin-left: 10px;
}
.facilities .footer ul li a .fa {
    padding-right: 6px;
}
.facilities .footer ul li img {
    max-width: 100px;
    border-radius: 4px;
    padding-right: 24px;
    transition: transform .2s;
}
.facilities .footer ul li img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.3); 
}
.facilities .footer .row {
    margin-right: 0px;
    padding-left: 148px;
    padding-bottom: 25px;
}
.facilities .footer .four li p {
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
}
.facilities .footer .four li textarea {
    outline: none;
    border: none;
}
.facilities .footer .four li button {
    border-radius: 37px;
    font-size: 30px;
    width: 45px;
    background-color: white;
    border: none;
    color: #081e35;
    padding-right: 6px;
    margin-right: 12px;
    margin-top: 7px;
}
.facilities .footer .five li textarea {
    outline: none;
    border: none;
    margin-bottom: 4px;
}
.facilities .footer .five li button {
    padding: 12px;
    background-color: #bf0606;
    color: white;
    letter-spacing: 3px;
    margin-top: 9px;
    border: none;
    outline: none;
    font-weight: bold;
}
.facilities .footer .five .border {
    border-bottom: 1px solid #808080d6;
    max-width: 219px;
}
@media screen and (max-width: 513px) {
    .facilities .footer .row {
        padding-left: 133px;
    }
}

/*********FOOTER END*********/

/*********COPYRIGHTS START*********/

.facilities .copyrights {
    background-color: #ccc;
    padding: 3px;
    padding-top: 46px;
    text-align: center;
}
.facilities .copyrights summary {
    letter-spacing: 1px;
    color: rgb(0 0 0 / 75%);
    padding-left: 49px;
    margin-top: -32px;
}
.facilities .copyrights summary b {
    color: #081e35;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
}
.facilities .copyrights summary img {
    width: 161px;
}

/*********COPYRIGHTS END*********/

.facilities .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.facilities .reveal.active{
  transform: translateY(0px);
  opacity: 1;
}